.error {
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing);
    list-style: none;
    background-color: rgb(248, 187, 187);
    color: rgb(255, 0, 0);
}

.accessories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.accessories .card {
    --radius: 3px;
    --border: 1px solid rgb(0, 0, 0);
    --width-card: 33%;
    --min-height-card: 20%;
    background-color: rgb(255, 255, 255);
    border: var(--border);
    border-radius: var(--radius);
    text-align: center;
    width: var(--width-card);
    min-height: var(--min-height-card);
    margin-bottom: var(--spacing);
}

.accessories img {
    --width-img-card: 50%;
    width: var(--width-img-card);
    margin-bottom: var(--spacing);
}
